:root {
  --background-color: #282D35;
  --nav-background-color: #21222A;
  --main-color: white;
  --text-color: #DEEBF8;
  --accent-color: #61DAFB;
}


* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    height: 90px;
    padding: 30px 25px;
}

.nav--logo-text,
.nav--title {
    margin: 0;
}

.nav--logo-text {
    margin-right: auto;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: var(--text-color);
    font-weight: 600;
}

.nav--icon {
    margin-right: 10px;
}

main {
    padding: 57px 27px;
    color: var(--main-color);
    background-image: url('./assets/react.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 250px;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts { 
    margin-top: 46px;
    max-width: 300px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    color: var(--accent-color);
    font-size: 1.4em;
}